<%= form_for(@pi) do |f| %>
  <% if @pi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pi.errors.count, "error") %> prohibited this pi from being saved:</h2>

      <ul>
      <% @pi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coordX %><br />
    <%= f.number_field :coordX %>
  </div>
  <div class="field">
    <%= f.label :coordY %><br />
    <%= f.number_field :coordY %>
  </div>
  <div class="field">
    <%= f.label :typePI %><br />
    <%= f.text_field :typePI %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.number_field :contact %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
