<h1>Listing notes</h1>

<%= link_to 'New Note', new_user_note_path(@user) %>  || <%= link_to 'Back', user_path(@user) %>
<br />

<table>
  <tr>
    <th>Title</th>
    <th>Shared</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.shared %></td>
    <td><%= note.text %></td>
    <td><%= link_to 'Show', user_note_path(@user, note) %></td>
    <td><%= link_to 'Edit', edit_user_note_path(@user, note) %></td>
    <td><%= link_to 'Destroy', [@user, note], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>