<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Shared:</b>
  <%= @note.shared %>
</p>

<p>
  <b>Text:</b>
  <%= @note.text %>
</p>


<%= link_to 'Edit', edit_user_note_path(@user, @note) %> |
<%= link_to 'Back', user_notes_path(@user) %>
