<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @meeting.time %>
</p>

<p>
  <b>Local:</b>
  <%= @meeting.local %>
</p>

<p>
  <b>Message:</b>
  <%= @meeting.message %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
