<h1> Administration Page</h1>
<ul>
  <li> <%= link_to 'Users', users_path %> </li>
  <li> <%= link_to 'Rooms', rooms_path %> </li>
  <li> <%= link_to 'Events', events_path %> </li>
  <li> <%= link_to 'Day', days_path %> </li>
  <li> <%= link_to 'Notes', notes_path %> </li>
  <li> <%= link_to 'Documents', documents_path %> </li>
  <li> <%= link_to 'P.I.', pis_path %> </li>
</ul>

<!--
<p> Search bar</p>
< %= form_tag events_path, :method => 'get' do %>
    <p>
      < %= text_field_tag :search, params[:search] %><br/>
      < %= submit_tag "Search", :name => nil %><br/>
    </p>

< %end%>

-->