<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Picture" %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="password_field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.radio_button :sex, "male" %>
    <%= f.label :sex, "Male", :value => "male" %>
    <%= f.radio_button :sex, "female" %>
    <%= f.label :sex, "Female", :value => "female" %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.url_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.url_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.url_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :institution %><br />
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.number_field :contact %>
  </div>
  <div class="field">
    <%= f.label :available %><br />
    <%= f.check_box :available ,{checked: true} %>
  </div>
  <div class="field">
    <%= f.label :homepage %><br />
    <%= f.url_field :homepage %>
  </div>
  <div class="field">
    <%= f.label :aboutme %><br />
    <%= f.text_area :aboutme %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
