<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :session %><br />
    <%= f.check_box :session %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br />
    <%= f.select :date_id, Day.all.map{|d| [d.date, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :track_id %><br />
    <%= f.select :track_id, Track.all.map{|t| [t.name, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.select :room_id, Room.all.map{|r| [r.local, r.id]} %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map{|u| [u.name, u.id]} %>
  </div>
  <div class="field">
    <%= f.label :document_id %><br />
    <%= f.select :document_id, Document.all.map{|d| [d.title, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
