<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :evenType %><br />
    <%= f.select :eventType, ["Keynote","Workshop","General","Social"] %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br />
    <%= f.collection_select :day_id, Day.all, :id, :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :track_id %><br />
    <%= f.collection_select :track_id, Track.all, :id, :name ,{:include_blank => ''}%>
  </div>
  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.collection_select :room_id, Room.all, :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :document_id %><br />
    <%= f.collection_select :document_id, Document.all, :id, :title, {:include_blank => ''}  %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
