<h1>Listing events</h1>

<%= link_to 'New Event', new_event_path %> || <%= link_to 'Home', "/" %>
<br />

<table>
  <tr>
    <th>Title</th>
    <th>Time - Local</th>
    <th>Track</th>
    <th>Speaker</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.time %> - <%= RoomsController.find(@event.room_id) %> </td>
    <td><% if track_id != nil %> <%= TracksController.find(@event.track_id) %><% else %> --- <% end %></td>
    <td><% if user_id != nil %> <%= UsersController.find(@event.user_id) %><% else %> --- <% end %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>