<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Time:</b>
  <%= @event.day_date%> -- <%= @event.time.hour %>:<%= @event.time.min %>
</p>

<p>
  <% track = @event.track_name%>
  <b>Track:</b>
  <%= track %>
</p>

<p>
  <% room = @event.room.name%>
  <b>Room:</b>
  <%= room %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
