<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @users_meeting.user_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @users_meeting.integer %>
</p>

<p>
  <b>Meeting:</b>
  <%= @users_meeting.meeting_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @users_meeting.integer %>
</p>


<%= link_to 'Edit', edit_users_meeting_path(@users_meeting) %> |
<%= link_to 'Back', users_meetings_path %>
