<%= form_for(@floor) do |f| %>
  <% if @floor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
      <% @floor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :plan_photo %><br />
      <%= f.text_field :plan_photo %>
    </div>
   <div class="field">
     <%= f.label :building_id %><br />
     <%= f.collection_select :building_id, Building.all, :id, :name %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
