<h1>Listing floors</h1>

<%= link_to 'New Floor', new_floor_path %> || <%= link_to 'Home', "/" %>

<br />

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @floors.each do |floor| %>
  <tr>
    <td><%= floor.name %></td>
    <td><%= link_to 'Show', floor %></td>
    <td><%= link_to 'Edit', edit_floor_path(floor) %></td>
    <td><%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



