<!DOCTYPE html>
<html>
<head>
  <title>Iconfs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">

</div>
<div class="main">

    <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

</div>
<div class="footer">

</div>
</body>
</html>
